* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: bisque;
  }
  
  nav {
    flex: 1;
    text-align: right;
    
  }
  
  nav ul {
    display: inline-block;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  
  a {
    text-decoration: none;
    color: #555;
  }
  
  a:hover {
    color: red;
  }
  
  p {
    color: #555;
  }

button{
    width: 200px;
    padding: 15px 0;
    border-radius: 25px;
    margin: 25px 5px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #009688;
    color: #fff;
    position: relative;
    overflow: hidden;
}

span{
    background-color: #009688;
    height: 100%;
   width: 0%; 
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.8s;
}
